name: Release Documentation

permissions:
  contents: write

on:
  push:
    branches: [main]
  release:
    types: [created, published]
  workflow_dispatch:

jobs:
  build_docs:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - name: Pull Repo
        uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          locked: true
          cache: false
          environments: dev

      - name: Build Docs
        run: pixi run -e dev make-html

      - name: deploy
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./docs/_build/html
          # destination_dir: docs
          # force_orphan: true
          keep_files: true
          full_commit_message: "${{ github.event.head_commit.message != '' && github.event.head_commit.message || format('Update docs: {0}', github.sha) }}"
